/* --------------------defaults-------------------- */
:root{
  --background: black;
  --primary:#18A558;
  --secondary:#36454F;
  --tertiary:black;
  --text:white;
  --navbarcolor: #36454F;
}
html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}

body{
  background-color: var(--background);
}


nav{
  position: fixed;
  background-color: var(--navbarcolor);
}

nav ul{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: var(--text);
}
nav .logo,.logo{
  font-size: 30px;
  color: var(--text);
}
nav .logo span,.logo{
  color: var(--primary);
}

/* ----------------home-------------------- */
#home{
  height: auto;
}
.intro{
  background-color: var(--secondary);
  color: var(--text);
  background-position: center;
  display: flex;
}

/* ---------------about--------------- */
#about{
  background-color: var(--primary);
  min-height: 100vh;
  height: auto;
}


/* ---------------mobile styles----------------- */
@media (max-width:426px) { 
nav ul li span{
  display: none;
}
.intro{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 0 0 40px 40px;
}
.intro h2{
  font-size: 3em;
  padding: 50px 30px 50px 15px;
  font-family: Courier;
}
.softskills{
  background-color: var(--primary);
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--secondary);
}
.softskills li{
  font-size: 20px;
  padding: 5px 0;
  font-weight: 500;
  text-align: center;
  color: var(--secondary);
  list-style: none;
}
}

/* 
----------------tablet styles-------------------- */
@media (max-width:769px) {

nav{
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px  20px 0 0;
}
nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  padding: 15px 0;
}

nav .logo{
  display: none;
}

#home{
  min-height: 100vh;
}
.logobar{
  position: fixed;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--secondary);
  text-align: center;
  padding: 10px 0;
}
.logo{
  font-size: 25px;
  font-weight: 700;
  font-family: Courier New;
}
.logo span{
  color: var(--tertiary);
  font-size: 30px;
}
}


/* ----------------desktop styles-------------------- */

@media (min-width:1024px) {

}
