:root {
  --c1: #E8EEF2;
  --c2: #C52233;
  --c3: #050505;
  --c4: #E3B23C;
  --c5: #1A659E;
}
*{
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  overflow: hidden  ;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.navBtn{
  height: 21vh;
  width: 25em;
  transform: rotate(15deg);
  border-radius: 20px;
  background-color: #050505;
  position: relative;
  left: -80px;
  box-shadow: 10px 10px 10px black;
  transition: height 1s,width 1s,transform 0.5s,border-radius 1s;
}
.navBtn.active{ 
  z-index: 10;
  border-radius: 0;
  height: 200vh;
  width: 100vw;
  transform: rotate(0deg);
  transform: translateY(-100vh);
  animation: slideup 0.4s ease-in both;
}
.home{background-color: var(--c1);color: black;}
.about{background-color: var(--c2);color: white;}
.service{background-color: var(--c3);color: white;}
.portfolio{background-color: var(--c4);color: black;}
.hire{background-color: var(--c5);color: white;}

.home-content{
  display: none;
  position: fixed;
  top: 0;
  height: 0%;
  transition: height   1s;
}

.home-content.active{
  display: block;
  z-index: 100;
  height: 100%;
}

.about-content{
  display: none;
  position: fixed;
  top: 0;
  height: 0%;
  transition: height 1s;
}

.about-content.active{
  z-index: 100;
  display: block;
  height: 100%;
}


.service-content{
  display: none;
  position: fixed;
  top: 0;
  height: 0%;
  transition: height 1s;
}

.service-content.active{
  z-index: 100;
  display: block;
  height: 100%;
}

.portfolio-content{
  display: none;
  position: fixed;
  top: 0;
  height: 0%;
  transition: height 1s;
}

.portfolio-content.active{
  z-index: 100;
  display: block;
  height: 100%;
}

.hire-content{
  display: none;
  position: fixed;
  top: 0;
  height: 0%;
  transition: height 1s;
}

.hire-content.active{
  z-index: 100;
  display: block;
  height: 100%;
}

.navBtn h1{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 2em;
}

@media (max-height:500px){
  
}
@media (max-width: 426px) {}

@media (max-width: 769px) {}

@media (min-width: 1024px) {}

@keyframes slideright {
  from {
    top: -1000px;
    left: -1000px;
  }
  to {
    top: 0;
    left: -50px;
  }
}
@keyframes slideup {
  to{
    left: 0;
  }
}
