/* --------------------defaults-------------------- */
:root{
  --background: black;
  --primary:#18A558;
  --secondary:#36454F;
  --tertiary:black;
  --text:white;
  --navbarcolor: #36454F;
}
html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}

/* ----------------home-------------------- */

/* ---------------about--------------- */


/* ---------------mobile styles----------------- */
@media (max-width:426px) { 
}

/* 
----------------tablet styles-------------------- */
@media (max-width:769px) {
}


/* ----------------desktop styles-------------------- */

@media (min-width:1024px) {

}
